.main-container {
	min-height: 1400px;
	margin-bottom: 20px;
}

.body {
	min-height: 3000px;
	background: #3498db;
}

.img-main-carousel {
	max-height: 600px;
	marging:0 auto;
}

.carousel-control.right, .carousel-control.left{
	cursor: pointer;
}

.search-inline .navbar-left, .search-inline {
	float: none !important;
}

.nav .navbar-nav .navbar-right {
	float: right;
	color: #FFD700;
}

.img-center {
	margin: 0 auto;
}

.carousel-caption {
background: none;
}

